button {
  all: unset;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .item {
    width: 16px;
    height: 16px;

    background: transparent;
    border: 2px solid var(--color-accent-500);
    border-radius: 100%;
    &:active {
      background: var(--color-accent-900);
      box-shadow: 0 0 0 8px var(--color-accent-900);
    }
    &:hover {
      background: var(--color-dark-500);
      box-shadow: 0 0 0 8px var(--color-dark-500);
    }
    &:focus-visible {
      background: var(--color-dark-700);
      box-shadow: 0 0 0 8px var(--color-dark-700);
    }

    .indicator {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      &::after {
        content: '';

        display: block;

        width: 11px;
        height: 11px;

        background: var(--color-accent-500);
        border-radius: 50%;
      }
    }

    .label {
      padding-left: 15px;
      font-size: 15px;
      line-height: 1;
      color: white;
    }

  }
}



