.label {
  color: var(--color-dark-100);

  &.disabled {
    color: var(--color-dark-300);
  }
}

.trigger {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6px 12px;

  background: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px 2px 0 0;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus-visible {
    border: 1px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-dark-300);

    &:hover {
      background: none;
    }
  }

  .icon {
    color: var(--color-light-100);
  }

  &[data-state='open'] {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.content {
  all: unset;

  user-select: none;

  min-width: var(--radix-select-trigger-width);

  background: transparent;
  border: 1px solid var(--color-dark-100);
  border-top: none;
  border-radius: 0 0 2px 2px;

  .item {
    padding: 6px 12px;
    color: var(--color-light-100);

    &[data-highlighted] {
      color: var(--color-accent-300);
      background-color: var(--color-accent-900);
      outline: none;
    }
  }
}
