.menuItem {
  cursor: pointer;

  height: 100%;

  line-height: 1;

  border-radius: 0.188rem;
  outline: none;

  .item {
    user-select: none;

    display: inline-flex;
    gap: 0.75rem;
    align-items: center;

    padding: 0;

    color: var(--color-light-100);

    &:hover {
      color: var(--color-light-100);
    }
  }
}

.separator {
  height: 0.063rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  background-color: var(--color-dark-500);
}
