.wrapper {
  display: flex;
  align-items: center;

  .menu_item {
    padding: 0;
  }

  .icon_button {
    cursor: pointer;
    user-select: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    &:hover {
      transition: transform 0.3s;
      transform: scale(1.03);
    }
  }
}