@import "src/styles/mixins";
.container {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
  align-items: flex-start;

  .wrapper {
    display: flex;
    gap: 0.875rem;
    align-items: center;
    justify-content: center;

    .values {
      user-select: none;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.25rem;
      height: 2.25rem;

      color: var(--color-light-100);

      background: none;
      border: 1px solid var(--color-dark-300);
      border-radius: 0.13rem;
    }

    .root {
      touch-action: none;
      user-select: none;

      position: relative;

      display: flex;
      align-items: center;

      width: 12.5rem;
      height: 1.25rem;

      .track {
        position: relative;

        flex-grow: 1;

        height: 0.188rem;

        background-color: var(--color-accent-900);
        border-radius: 999rem;


        .range {
          position: absolute;
          height: 100%;
          background-color: var(--color-accent-500);
          border-radius: 999rem;
        }
      }

      .thumb {
        cursor: pointer;

        display: block;

        width: 0.5rem;
        height: 0.5rem;

        background-color: white;
        border-radius: 999rem;
        box-shadow: 0 0 0 0.25rem var(--color-accent-500);
        transition: left 0.3s ease-in-out;

        &:hover {
          @include _animation
        }
      }
    }
  }
}
