.table {
  border-collapse: collapse;
  border-top: 0.06rem solid var(--color-dark-500);
  border-right: 0.06rem solid var(--color-dark-500);
  border-left: 0.06rem solid var(--color-dark-500);
}

.row {
  min-height: 40px;
}

.headCell {
  cursor: pointer;
  user-select: none;

  gap: 0.625rem;

  padding: 0.375rem 1.5rem;

  background: var(--color-dark-500);

  &.noSort {
    cursor: initial;
  }
}

.dataCell {
  padding: 0.38rem 1.5rem;
  vertical-align: middle;
  background: var(--color-dark-900);
  border-bottom: 0.06rem solid var(--color-dark-500);
}

.title {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.sortAscIcon {
  transform: rotate(180deg);
}

.sortDscIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
}

.checkbox {
  margin: 0;
  padding: 0;
}
