.table {
  border-collapse: collapse;
  border-top: 0.06rem solid var(--color-dark-500);
  border-right: 0.06rem solid var(--color-dark-500);
  border-left: 0.06rem solid var(--color-dark-500);
}

.row {
  min-height: 40px;
}

.headCell {
  gap: 0.625rem;
  padding: 0.375rem 1.5rem;
  background: var(--color-dark-500);
}

.dataCell {
  padding: 0.375rem 1.5rem;

  text-align: center;
  vertical-align: middle;

  background: var(--color-dark-900);
  border-bottom: 0.06rem solid var(--color-dark-500);
}

.checkbox {
  margin: 0;
  padding: 0;
}
