.wrapper {
  display: flex;
  gap: 5px;
  padding: 17.5px;

  .label_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    padding: 0 2px;
  }

  .root {
    user-select: none;

    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    vertical-align: middle;

    border-radius: 9999px;

    .avatar_image {
      object-fit: cover;
      border-radius: inherit;
    }

    .avatarFallback {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: 50px;

      font-weight: var(--font-weight-bold);
      color: var(--color-dark-900);

      background-color: white;
    }
  }
}
