.overlay {
  position: fixed;
  inset: 0;

  opacity: 0.7;
  background-color: var(--color-dark-900);
  filter: blur(3%);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 33.875rem;

  background-color: var(--color-dark-700);
  border: 0.06rem solid var(--color-dark-500);
  border-radius: 0.125rem 0.125rem 0 0;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.12rem 1.5rem;

  border-bottom: 0.06rem solid var(--color-dark-500);
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-100);

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-100);
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem var(--color-dark-100);
  }

  &:active {
    color: var(--color-dark-300);
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.12rem 1.5rem;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  height: 5.25rem;
  padding: 0.75rem 1.5rem 2.25rem;

  border-bottom: 0.06rem solid var(--color-dark-500);
}
