.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 420px;
  padding: 33px 36px 48px;

  .question {
    margin-top: 45px;
  }

  .attempts {
    color: var(--color-dark-100) !important;
  }

  .answer {
    margin-top: 41px;
  }

  .feedback {
    margin-top: 12px;
    margin-bottom: 13px;
  }

  .next_question {
    margin-top: 29px;
  }
}
