.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 150px;
    height: 150px;
    animation: spinning82341 1.4s linear infinite;
    text-align: center;
    border-radius: 999999px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);

    .spinner1 {
      background-color: rgb(36, 36, 36);
      width: 150px;
      height: 150px;
      border-radius: 99999px;
      filter: blur(10px);
    }
  }
}


@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}