@use 'src/styles/index';
.wrapper {
  overflow: hidden;
}
.back {
  display: flex;
  @include index.goBack;
  user-select: none;
  left: 50px;
  top: 75px;
  z-index: 999;
}
.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0 0 #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: #fffbff -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0 9px 0 #fbfdfa, 0 18px 0 #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0 14px 0 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm_left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm_right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm_left:before,
.arm_right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm_left:before {
  border-radius: 50px 50px 0 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm_right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm_left:after,
.arm_right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm_left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm_right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg_left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg_right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg_left:before,
.leg_right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg_left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg_right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}

.elements {
  animation-name: background-animation;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  border-radius: 50%;

  .el_1 {
    position: absolute;
    left: 25%;
    top: 75%;
    box-shadow: 0 0 880px 400px rgba(26, 183, 159, 0.1);
  }

  .el_2 {
    position: absolute;
    left: 10%;
    top: 35%;
    box-shadow: 0 0 850px 220px rgba(218, 145, 49, 0.1);
  }
  .el_3 {
    position: absolute;
    left: 75%;
    top: 90%;
    box-shadow: 0 0 800px 360px rgba(234, 8, 12, 0.1);
    animation-delay: 1s;
  }
  .el_4 {
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 800px 120px rgb(7, 73, 57, 0.2);
    animation-delay: 1s;
  }
  .el_5 {
    position: absolute;
    left: 80%;
    top: 10%;
    box-shadow: 0 0 800px 220px rgb(7, 73, 57, 0.2);
    animation-delay: 1s;
  }
  .el_6 {
    position: absolute;
    left: 50%;
    top: 20%;
    box-shadow: 0 0 800px 200px rgb(232, 169, 97, 0.2);
    animation-delay: 1s;
  }
}

@keyframes background-animation {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1.2;
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}