.container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--color-dark-300);
    }
  }
}
