.container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--color-warning-100);
      transition: transform 0.3s;
      transform: scale(1.2);
    }
  }
}
