@import "src/styles/mixins";
.container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      @include _animation;
      color: var(--color-warning-100);
    }
  }
}
