.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 60px;
  margin: 0 auto;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 136px;
  }
}
