.back {
  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;

  margin-bottom: 33px;
}

.headerPage {
  display: flex;
  justify-content: space-between;
}

.textField {
  margin-top: 25px;
  margin-bottom: 24px;
}

.tableHead {
  width: 100%;
}
