.back {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 6px;
  align-items: center;

  width: fit-content;
  margin-top: 24px;
  margin-bottom: 33px;
}

.headerPage {
  display: flex;
  justify-content: space-between;
}

.textField {
  margin-top: 25px;
  margin-bottom: 24px;
}

.tableHead {
  width: 100%;
}

.deckMenuSection {
  display: flex;
  gap: 1rem;
}
.tableRoot {
  width: 100%;
  margin-bottom: 25px;
}
