.card {
  gap: 0;
  width: 26.25rem;
  padding: 2.063rem 2.25rem 1.813rem;

  .title {
    text-align: center;
  }

  .textField {
    margin-top: 3.188rem;
  }

  .description {
    display: flex;
    justify-content: flex-end;

    margin-top: 1.188rem;
    margin-bottom: 4.063rem;

    font-weight: 400 !important;
    font-style: normal !important;
    line-height: 1.5rem !important;
    color: var(--color-light-900) !important;

    opacity: 0.5;
  }

  .formFooter {
    display: flex;
    flex-direction: column;

    .rememberPassword {
      margin-top: 1.25rem;
      text-align: center;
    }

    .link {
      margin-top: 0.688rem;

      font-weight: 700 !important;
      font-style: normal !important;
      line-height: 1.5rem !important;
      color: var(--color-accent-500) !important;
      text-align: center;
    }
  }
}
